.body{
    background-color: black;
}
.parent{
    height: 400px;
    width: 600px;
    margin-left: 400px;
    margin-top: 150px;
    background-color: rgb(222, 96, 58);
    border: 2px solid black;
    z-index: -1;
    position: relative;
}
.yellow-circle{
    background-color: yellow;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 27%;
    left: 37%;
    z-index: 0;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-name: circle;
    animation-direction: alternate;

}
@keyframes circle {
    from{
          
    }
    to{
    
        left: 80px;
        top:50px;
    }
    
}
.orange-circle{
    background-color: orange;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    top:27%;
    left: 37%;
    z-index: 1;
}